
<div class="container">
{#                <h1>HOMEPAGE</h1>#}

                {# Uncomment the following section if you want to include a container with a heading and description #}
                 <div class="container">
                     <h1 class="d-inline me-3"></h1> <i class="fas fa-edit"></i>
                     <h2>Feedback Seite</h2>
                     <p>This is a dumb chatbot.</p>
                     <p>Ask your question and pray to god that you get the right answer.</p>
                 </div>
    </div>

